.modal{
    position: fixed;
    inset: 0;
    background-color: #111111bd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.container__modal{
    position: relative;
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    overflow: auto;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
}

.modal__close{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: none;
    background-color: #003c77;
    color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

modal__close i{
    font-size: 1.8rem;
    line-height: 1;
}